nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
.white
{
    color: white;
}

.grey
{
    color: #747474;
}

.navbar-custom { 
    background-color: #536DFE;
    color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

main .form-control
{
    /* center form controls */
    display: inline-block;
    width: 500px;
    max-width: 100%;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

#powered
{
    color: #536DFE;
    font-size: 16px;
}

#toolbar
{
    background-color: #536DFE;
    font-size: 16px;
    color: white;
    box-shadow: 0 50vh 0 50vh #536DFE;
}

.light 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.normal, h1 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#times
{
    background-color:#b0b4fc;
}

@media print {
    #print, #toolbar, .navpills{
    display:none !important;
    visibility:hidden;
    } 
}

.sizing {
    max-width: 500px;
}

.block {
    display: inline-block;
}

main img {
    width: 400px;
}

.btn-signup {
    background: #00BFA6;
    border: #00BFA6;
    border-radius: 40px;
    width: 500px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.hov:hover {
    text-decoration: underline;
}

h5 a:hover {
    color: #1a0dab;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.reg-form {
    margin-bottom: 1.5rem;
}