nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
.white, a
{
    color: white;
}

.grey
{
    color: #747474;
}

.navbar-custom { 
    background-color: #536DFE;
}

main .form-control
{
    /* center form controls */
    display: inline-block;
    width: 100%;
    max-width: 700px;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

#powered
{
    color: #536DFE;
    font-size: 20px;
}

#toolbar
{
    background-color: #536DFE;
    font-size: 16px;
    color: white;
    box-shadow: 0 50vh 0 50vh #536DFE;
}

.light 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.normal, h1 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.i 
{
    width: 100%;
    height: auto;
}

#times
{
    background-color: #768bff;
}

@media print {
    #toolbar, .navpills{
    display:none !important;
    visibility:hidden;
    } 
}