nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav a, .white
{
    color: white;
}

.grey
{
    color: #747474;
}

.navbar-custom { 
    background-color: #536DFE;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

footer
{
    background-color: #536DFE;
    font-size: 16px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}