{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}


{% block main%}
<div class="normal" style="text-align:left;">
  <h1>About Us</h1>
  <br>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Daniel Ye</h2>
      <p class="lead">Fifth-year accounting and finance student at the University of Waterloo.</p>
      <a href="https://www.linkedin.com/in/daniel-ye/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px"></i></a>
    </div>
    <div class="col-md-5 img-fluid">
      <a href="https://www.linkedin.com/in/daniel-ye/" target="_blank"><img src="/static/daniel.jpg" class="rounded" alt="Daniel Ye"></a>
    </div>
  </div>
  <br>
  <br>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Joshua Ye</h2>
      <p class="lead">First-year computer science and business student at the University of Waterloo and Wilfred Laurier University.</p>
      <a href="https://www.linkedin.com/in/joshuaye3/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:48px"></i></a>
    </div>
    <div class="col-md-5 img-fluid">
      <a href="https://www.linkedin.com/in/joshuaye3/" target="_blank"><img src="/static/joshua.jpg" alt="Joshua Ye" class="rounded"></a>
    </div>
  </div>
</div>

{% endblock %}
