{% extends "layout.html" %}

{% block main %}
    {% if name %}
    <h1> {{name}} </h1>
    <div class=normal>
        <h6 class="grey"> Due to public health regulations, businesses are required to collect the following information about their customers:</h6>
        <br>
        <form action="/business/{{code}}" method="post" novalidate>
            <div class="form-group">
                <input autocomplete="on" autofocus class="form-control" name="name" placeholder="Name" type="text" style="width:100%;" required>
            </div>
            <div class="form-group">
                <input autocomplete="on" autofocus class="form-control" name="phone" placeholder="Phone (###-###-####)" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" required>
            </div>
            <div class="form-group">
                <input autocomplete="on" autofocus class="form-control" name="email" placeholder="Email (optional)" type="email">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="guests" placeholder="Number of Guests" type="number" min=1 required>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    {% else %}
    <h3 class=normal>Sorry, the following business does not exist.</h3>
    {% endif %}
{% endblock %}
