{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main%}
  <h1>{{name}}</h1>
  <br>

  <ul class="normal nav nav-pills mb-3 nav-justified" id="times" role="tablist">
    <li class="nav-item">
      <a class="nav-link white active" data-toggle="pill" href="#today">Today (Last 24h)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white" data-toggle="pill" href="#week">This Week</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white" data-toggle="pill" href="#month">This Month</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white" data-toggle="pill" href="#all">All-time</a>
    </li>
  </ul>
  <br>

  <div class="tab-content">
    <div id="today" class="tab-pane fade show active">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col">Number of Guests</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            {% for row in today %}
                <tr>
                  <td scope="row">{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[4]}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div id="week" class="tab-pane fade">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Number of Guests</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          {% for row in week %}
              <tr>
                <td scope="row">{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="month" class="tab-pane fade">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Number of Guests</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          {% for row in month %}
              <tr>
                <td scope="row">{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="all" class="tab-pane fade">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Number of Guests</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          {% for row in all_time %}
              <tr>
                <td scope="row">{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> 

{% endblock %}
