{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
 <h1>Record your customer information without the need for pen and paper!</h1>


    <div>Business Count: {{bcount}}</div>
    <div>Customer Count: {{vcount}}</div>

    <p>
        More and more business are being required to record their customer information. Maintain your customer logs while maintaining your social distance. Notify your customers and alert authorities in the case of COVID-19 instances.
    </p>

    <p>
        1. Create an account to generate a unique QR Code for your business
    </p>
    <p>
        2. Customers scan the QR Code at check-in and enter their personal information
    </p>
    <p>
        3. Track and notify your customers to assist authorities in the case of COVID-19 instances
    </p>
    <img src="data:image/;base64,{{imgstr}}"    alt="Your Ronify QR Code">
{% endblock %}
