{% extends "layout.html" %}

{% block title %}
    ronify
{% endblock %}

{% block main %}
<div style="max-width: 700px;display: inline-block;">
        <h1 class=bold>Track your customer information</h1>

    <!--
    <div>Business Count: {{bcount}}</div>
    <div>Customer Count: {{vcount}}</div>
    -->
        <img src="static/ronify.svg" alt="Woman scanning QR Code" class=i>
        <br><br>
        <p class=light>
            More and more business are being required to record their customer information. Maintain your customer logs while maintaining your social distance. Notify your customers and alert authorities in the case of COVID-19 instances.
        </p>
        <br/><br/>
        <h3 class=normal>How it Works</h3>
        <div class=light>
            <img src="static/profile.svg" alt="Create your business profile">
            <br/><br/>
            <p>
                1. Create an account to generate a unique QR Code for your business
            </p>
            <br/><br/>
            <img src="static/fillin.svg" alt="Customers enter information">
            <br/><br/>
            <p>
                2. Customers scan the QR Code at check-in and enter their personal information
            </p>
            <br/><br/>
            <img src="static/dashboard.svg" alt="Track and notify customers">
            <br/><br/>
            <p>
                3. Track and notify your customers to assist authorities in the case of COVID-19 instances
            </p>
        </div>
</div>
{% endblock %}
