<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-custom">
            <a class="navbar-brand" href="/"><span class=light>😷 ronify</span></a>
            <!--
            {% if session.user_id %}
                <span class="light white mr-auto mt-2">{% block li %}{% endblock %}</span>
            {% endif %}
            -->
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse white normal" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/qrcode">QR Code</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('business', code=code) }}">Customer Form</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <!-- idk what this code does -->
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>


        <!-- Footer -->
        <footer class="light text-center" id="powered">
            powered by 😷 ronify
        </footer>
        <br>

        <div id="toolbar">
            <footer class="page-footer font-small blue pt-3 pb-5 normal" id=footer>
                    <div class="col-md-6 mt-md-10 mt-2">
                        <ul class="list-unstyled">
                            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="/terms&conditions">Terms and Conditions</a></li>-->
                            <li class="nav-item"><a class="nav-link" href="/privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
            </footer>
        </div>

    </body>

</html>
