{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1>Login</h1>
    <div class=normal style="max-width: 500px; display: inline-block;">
        <img src="static/login.svg" alt="Logging In" style="float: left">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter valid email.</div>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter your password.</div>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>

    <script>
        // Disable form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>
{% endblock %}
