{% extends "layout.html" %}

{% block title %}
    QR Code
{% endblock %}

{% block main %}
<h1>{{name}}</h1>
    <img src="data:image/;base64,{{imgstr}}" alt="Your Ronify QR Code">
<div class=text-left>
    <br>
    <h3 class=normal>Instructions</h3>
    <br>
    <div>
        <h5 class=light>
            1. Scan the QR Code with your mobile camera
        </h5>
        <br>
        <h5 class=light>
            2. Submit the form and include your name, phone number, and # of guests
        </h5>
        <br>
        <h5 class=light>
            3. Wear a mask to protect yourself and those around you
        </h5>
    </div>
</div> 
<br>
<button id="print" type="button" class="btn btn-primary" onclick="window.print();return false;">Print Page</button>
{% endblock %}
